*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.class
.metadata
.project
.recommenders
.settings
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
secrets.yml
.sts4-cache
*.ini
CHANGELOG.md